.QuoteButton{
 color: #009688;
 background: #fff;
 border: 1px solid #009688;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 right: 6%;
 display: block;
 float:right;
 top:350px;
 position: absolute;
 text-decoration: none;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 80px;
}

.QuoteButton:hover, .QuoteButton:active {
 color:#fff;
 background:#009688;
 cursor: pointer;
}