.TwitterButton{
 color: #61DAFB;
 background: #fff;
 border: 1px solid #61DAFB;
 font-size: 24px;
 padding: 4px 12px;
 font-weight: normal;
 left: 6%;;
 display: block;
 float:left;
 top:350px;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 80px;
 transition: 0.2s ease-in-out;
}

.TwitterButton:hover {
 color:#fff;
 background:#61DAFB;
}

.QuoteButton:active {
  box-shadow: 0 6px 0 #99DDFF;
  top: 6px;
}